@charset "UTF-8";

.viewer-wrap .editor-viewer {
  font-size: 18px;
  font-family: var(--font-pretendard);
}
.viewer-wrap .editor-viewer > * {
  color: #1d1d1d !important;
}
.viewer-wrap .editor-viewer ul {
  display: block;
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 40px;
}
.viewer-wrap .editor-viewer ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.viewer-wrap .editor-viewer ul li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
.viewer-wrap .editor-viewer ol {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
  padding-left: 40px;
}
.viewer-wrap .editor-viewer ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.viewer-wrap .editor-viewer ol li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
} 
.viewer-wrap .editor-viewer table {
  border-collapse: collapse;
}
.viewer-wrap .editor-viewer table tr {
  vertical-align: inherit;
  border-color: inherit;
}
.viewer-wrap .editor-viewer table th,
.viewer-wrap .editor-viewer table td {
  padding: 0.4rem;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}
.viewer-wrap .editor-viewer h1, 
.viewer-wrap .editor-viewer h2,
.viewer-wrap .editor-viewer h3,
.viewer-wrap .editor-viewer h4,
.viewer-wrap .editor-viewer h5,
.viewer-wrap .editor-viewer h6 {
  display: block;
  font-weight: bold;
}
.viewer-wrap .editor-viewer h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.viewer-wrap .editor-viewer h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.viewer-wrap .editor-viewer h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.viewer-wrap .editor-viewer h4 {
  margin: 1.33em 0;
}
.viewer-wrap .editor-viewer h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
.viewer-wrap .editor-viewer h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
@media (max-width: 1024px) {
  .viewer-wrap .editor-viewer {
    font-size: 14px;
  }
}