@charset "UTF-8";

.global-header {
  $logoSimbolSize: 2rem;
  @include media(sm) {
    .global-header-branding-logo {
      background-color: black;
      width: $logoSimbolSize;
      height: $logoSimbolSize;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      > span {
        display: inline-block;
        width: 17px;
        overflow: hidden;
        img {
          width: 150px !important;
          height: 18px !important;
          max-width: none;
        }
      }
    }
  }
}

.global-header-home {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.5rem);
}
