@charset "UTF-8";

/* PC */
.about-slide-pc .swiper-pagination {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding: 0 0 26px 0;
  width: 150px;
  height: auto;
  left: calc(5.21% + 44px);
  bottom: 100px;
  text-align: left;
  border-left: 1px solid #EBEBEB;
}
.about-slide-pc .swiper-pagination-bullet {
  position: relative;
  margin: 0 !important;
  width: 0;
  height: 33px;
  background: none;
  opacity: 1;
  line-height: 33px;
  padding-left: 30px;
  font-family: 'pretandard';
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.about-slide-pc .swiper-pagination-bullet:before {
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
}
.about-slide-pc .swiper-pagination-bullet-active {
  position: relative;
  font-family: 'pretandard';
  font-size: 14px;
  font-weight: 700;
  color: #1D1D1D;
}
.about-slide-pc .swiper-pagination-bullet-active:before {
  position: absolute;
  display: block;
  top: 0;
  left: 30px;
  height: 100%;
}
.about-slide-pc .swiper-pagination-bullet-active:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #000;
}

/* Mobile */
.about-slide {
  z-index: 1;
}
.about-slide .swiper-wrapper {
  padding-bottom: 45px;
}
.about-slide .swiper-slide {
  width: auto;
  padding-right:0;
}
.about-slide .swiper-slide:last-child {
  padding-right: 0;
}
.about-slide .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: calc(100% - 100px);
  height: 1px;
  left: 100px;
  background: #D9D9D9;
}
.about-slide .swiper-scrollbar-drag {
  background: #000;
  height: 1px;
}