@charset "UTF-8";

.package-slide {
  z-index: 1;
}
.package-slide .swiper-wrapper {
  padding-bottom: 40px;
}
.package-slide .swiper-slide {
  width: auto;
  padding-right:0;
}
.package-slide .swiper-slide:last-child {
  padding-right: 0;
}
.package-slide .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: calc(100% - 100px);
  height: 1px;
  left: 100px;
  background: #999;
}
.package-slide .swiper-scrollbar-drag {
  background: #fff;
  height: 1px;
}
@media all and (min-width: 1024px) {
  .package-slide .swiper-wrapper {
    padding-bottom: 35px;
  }
  .package-slide .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 100%;
    height: 2px;
    left: 0;
  }
  .package-slide .swiper-scrollbar-drag {
    height: 2px;
  }
}