@charset "UTF-8";

// Tailwind Breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);

// 미디어 쿼리 mixin
@mixin media($breakpoint, $breakpointType: "max") {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $breakpointType == "max" {
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    } @else {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}
