@charset "UTF-8";

.h-screen-80 {
  height: calc(100vh - 80px);
}

.h-screen-100 {
  height: calc(100vh - 100px);
}

// 스크롤 숨김 처리
.scroll-hidden {
  &:not(.mobile-device) {
    overflow: hidden;
    .overflow-y-auto {
      margin-right: -17px;
    }
  }
}
