/* @charset "UTF-8";

.visual-slide {
  width:100%;
  height:100%;
}
.visual-slide .swiper-slide{
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-slide .autoplay-progress {
  z-index: 10;
  width: 31%;
  height: 31%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #D4B156;
}
.visual-slide .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 0.3px;
  stroke: #D4B156;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.CircularProgressbar .CircularProgressbar-path {
  transition: stroke-dashoffset linear !important;
}

.swiper-slide .bg-wrap {
  transform: scale(1.25);
  opacity: 0;
}

.swiper-slide:first-child .bg-wrap {
  opacity: 1;
}

.swiper-slide-active .bg-wrap {
  transition: transform 20000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1);
  opacity: 1 !important;
}

.load-first-slide.swiper-slide-active .bg-wrap {
  transform: scale(1.25);
} */
