@charset "UTF-8";

.review-slide.swiper {
  overflow: visible;
}

.review-slide .swiper-slide {
  width: auto;
  padding-right: 0;
}

.review-slide .swiper-horizontal > .swiper-scrollbar,
.review-slide .swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0;
  bottom: -38px;
  width: calc(100% + 24px);
  height: 2px;
  background: #EBEBEB;
  z-index: 2;
}

.package-slide .swiper-scrollbar-drag {
  height: 2px;
  background: #1D1D1D;
}

@media all and (max-width: 1024px) {
  .review-slide .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -35px;
  }
}

.word-wrap-break-word {
  word-wrap: break-word;
}